<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqPEsGEj28RqNsh0Cs7yow_cvamGkS13A</string>
	<key>GCM_SENDER_ID</key>
	<string>630654834497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginTest</string>
	<key>PROJECT_ID</key>
	<string>polynomial-derivative</string>
	<key>STORAGE_BUCKET</key>
	<string>polynomial-derivative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630654834497:ios:aea841989d92cf298433c0</string>
</dict>
</plist>